@import url('fonts.css');


.nab{
  padding: 0 2rem;
  overflow: hidden;
  transition:height 2s ease-in-out;
}

:root{
  /* Theme Font Family */
  --Abel:'Abel',cursive;
  --Anton:'Anton',cursive;
  --Josefin:'Josefin',cursive;
  --Lexend:'Lexend_Deca',cursive;
  --Livvic:'Livvic',cursive;
  /* Theme Color */
  --text-gray: #3f4959;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #fff;
  --min-night: #104f55;

/* Gredient color  */
  --sky:linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}
/*-------------Global-----------*/
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;

}
a{
  color: var(--text-gray);
  text-decoration: none !important;
}
h1{
  font-family: var(--Lexend);
  font-size: 2.5rem;
}
h2{
  font-family: var(--Lexend);
  font-size: 2rem;
}
h3{
  font-family: var(--Abel);
  font-size: 1.3rem;
}
ul{
  list-style: none;
}
button.btn{
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--Livvic);
  cursor: pointer;
  color: var(--sky) !important;

} .text-gray{
  color: var(--gray);
}
p{
  font-family: var(--Lexend);
  color: var(--text-light);
}
hr{
  border:2px solid pink;
}

/*-------------Global-----------*/
.nav-menu{
  justify-content: space-between;
}
.nav-menu .navbar-nav{
  display: flex;
  margin: 0;
}
.nav-menu .navbar-nav .nav-item{
  list-style-type: none;
  font-size: 1.2rem;
  position: relative;
  font-family: var(--Abel);
  color: var(--text-gray);
  padding: 0 5px;
}
.nav-menu .navbar-nav .nav-item:hover{
  background: var(--min-night);

}
.nav-menu .navbar-nav .nav-item:hover a{
  color: white;
}
.nav-menu .navbar-brand a{
  font-size: 1.6rem;
  padding: 1rem 0;
  text-decoration: none;
  display: block;
  font-family:var(--Lexend);
  color:var(--text-gray);

}
.nav-menu .social{
  padding: 1.7rem 0;
}
.nav-menu .social i{
  padding: 0 .2rem;
  font-size: 15px;
}
.nav-menu .social:hover{
  color: var(--min-night);
}

.navbar-toggler-icon{
  background:rgba(255, 0, 0, 0.5);
}
/*--------X--------- Navbar ----------X------*/
/*-------------- Main Content------------------*/
/* ------------------Site Title------------------- */
.site-title{
  background: url('images/Background-image.png');
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;

}
.site-background{
  padding-top: 10rem;
  text-align: center;
}
.site-background h1,h3{
  margin: .3rem;
}
.site-background .btn:hover{
  background: transparent;
  border: 1px solid var(--white);
}

/* --------X----------Site Title----------X--------- */
/* Blog Start */
  .blog{
    background:url('images/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 110vh;
    background-size: 65%;
  }
  .blog-post{
    padding-top: 6rem;
  }
  .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgb(0,0,0,0.2);
  }
  .blog-title{
    padding: 2rem 0;
  }
  .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
  }
  .blog-content span{
    display: block;
    font-family: var(--Abel);
  }
  .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
  }
  .owl-nav .owl-prev .owl-nav-prev,
  .owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
  }
  .owl-theme .owl-nav:hover{
    background: transparent;
    color: var(--min-night);
  }
  .owl-theme .owl-nav{
    outline: none;
  }

/* Blog End */

/* Site Content */

  .post-content{
    width: 100%;
  }
  .site-content .post-content>.post-image,.blog-info{
    padding: 1rem 2rem;
    position: relative;

  }
  .post-content .post-title{
    padding: 1rem 2rem;
    position: relative;
  }
  .post-image .blog-info{
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 12vw;
    border-radius: 3rem;
  }
  .site-content .post-content>.post-image>div{
    overflow: hidden;
  }
  .site-content .post-content>.post-image img{
    width: 100%;
    transition: all 2s ease;
  }
  .post-image img:hover{
    transform: scale(1.3);
}
.post-image span{
  margin: 0 .5rem;
}
.post-title a{
  font-family: var(--Josefin);
  font-size: 1.5rem;
  font-weight: bold;
}
.post-title .post-btn{
  border-radius: 0;
  padding: .7rem 1.5rem;
  background: var(--sky);
}
.site-content .pagination{
  justify-content: center;
  color: var(--text-gray);
  margin: 4rem 0;
}
.site-content .pagination a{
  padding: .6rem .9rem;
  border-radius: 2rem;
  margin: 0 .3rem;
  font-family: var(--Lexend);
}
.site-content .pagination .num{
  background: var(--text-gray);
  color: white;
}
/* Site Content End */

/* Sitebar */
  .sidebar .category-list{
    font-family: var(--Livvic);

  }
  .sidebar .category-list .list-item{
    background: var(--sky);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  .sidebar .category-list .list-item a{
    text-decoration: none;
    color: black;
  }
  .popular-post h2{
    padding-top: 2rem;
  }
  .popular-post .site-content{
    padding: 1rem 0;

  }
  .sidebar .popular-post>.site-content .post-content .blog-info{
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background: white !important;
  }
  .sidebar .popular-post>.site-content .post-content .blog-info .title a{
    font-size: 1rem;
  }
  .newsletter{
    padding: 2rem;
  }
  .newsletter .input-element{
    padding: .5rem 2rem;
  }
  .newsletter .input-element{
    width: 80%;
    height: 1.9rem;
    padding: .3rem .5rem;
    font-family: var(--Lexend);
    font-size: 1rem;
  }
  .newsletter .form-element .form-btn{
    border-radius: 0;
    padding: .6rem 37%;
    margin: 1rem 0;
    background: var(--sky);
  }
  .popular-tags{
    padding: 5rem 0;
    position: relative;
  }
  .popular-tags .tags span.tag{
    background: var(--sky);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .3rem .6rem !important;
    display: inline-block;


  }



/* Sitebar End */

/*-------X------- Main Content--------X-------- */

/* Footer Start Here */

  .footer{
    background: var(--bg-color);
    position:relative;

    padding-top: 3rem;
    color: white;
  }
  .footer .Newsletter .form-element{
    background: black;
    display: inline-block;
  }
  .footer .Newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 87%;
  }
  .footer .Newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
  }
  .footer .instagram img{
    display: inline-block;
    width: 25%;
    margin: .3rem .5rem;
  }
  .footer .follow i{
    color: white;
    padding: 0 .4rem;

  }
  .footer .right {
    justify-content: center;
    padding: 1.6rem 0;
    margin-top: 5rem;
  }
  .footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
  }
  .footer .move-up span{
    color: var(--min-night)
  }
  .footer .move-up span:hover{
    color: white;
    cursor: pointer;
  }

/* Footer End  */
/* responsive 1130px */
@media (max-width:1130px) {
  .site-content .post-content>.post-image .blog-info{
    left: 2rem;
    bottom: 1.01rem;
    border-radius: 0rem;
  }
  .blog{
    height: 65vh;
  }

  .popular-post .blog-info{
    display: none;
  }
  .footer .Newsletter .form-element span{
    padding: .5rem .5rem;
}
}
/* responsive 1080px */
@media (max-width:1080px) {
  .newsletter .form-element .form-btn {
      padding: .6rem 34%;
    }
}


/* 991 start */
@media (max-width:991px) {
  .blog{
    height: 60vh;
  }
  .footer .Newsletter .form-element span {
    padding: .5rem 0.8rem;
  }
  .newsletter .form-element .form-btn {
      padding: .6rem 25%;
    }

}

@media (max-width:767px) {
  /* Navbar */
  nav .navbar-collapse.collapsing ul, nav .navbar-collapse.show ul {
    margin-top: 0rem;
}
.blog{
  height: 56vh;
}
.newsletter .form-element .form-btn {
    padding: .6rem 42%;
  }
  .footer .Newsletter .form-element span{
    padding: .5rem .8rem;
}
.footer .col-lg-3{
  margin-top: 3rem
}

}
/* 588 Start Here */
@media (max-width:588px) {
  .blog{
    height: 60vh;
  }
  .footer .right h4{
    font-size: 1.2rem;
  }
  .site-content .post-content>.post-image .blog-info{
    display: none;

}
.newsletter .form-element .form-btn {
    padding: .6rem 42% !important;
  }
}
/* 520 start here */

@media (max-width:520px) {
  .newsletter .form-element .form-btn {
      padding: .6rem 41.5% !important;
    }
    .footer .right h4{
      font-size: 17px;
      justify-content: center;
    }
}
/* 414 start here */
@media (max-width:414px) {
  .footer .right h4{
    font-size: .6rem;
    justify-content: center;
  }
  .newsletter .form-element .form-btn {
      padding: .6rem 38.3% !important;
    }



}
/* 375 start here */
@media (max-width:375px) {
  .footer .right h4{
    font-size: .6rem;
    justify-content: center;
  }
  .newsletter .form-element .form-btn {
      padding: .6rem 37% !important;
    }
    .footer .right h4{
      font-size: 12px;
      justify-content: center;
    }


}
/* 360 start here */
@media (max-width:360px) {
  .footer .right h4{
    font-size: .6rem;
    justify-content: center;
  }
  .newsletter .form-element .form-btn {
      padding: .6rem 36% !important;
    }
    .footer .right h4{
      font-size: 12px;
      justify-content: center;
    }


}


/* 320 start here */
@media (max-width:320px) {
  .footer .right h4{
    font-size: .6rem;
    justify-content: center;
  }
  .newsletter .form-element .form-btn {
      padding: .6rem 34.3% !important;
    }


}
